<mat-toolbar *ngIf="collector.status !== 'uninitialized'">
  <mat-toolbar-row>
    <span (click)="editor.rename()" class="title">{{ collector.name || 'Unnamed' }}</span>
    <a mat-button color="primary" href="https://gitlab.com/tripetto/examples/angular-material" target="_blank">
      <mat-icon>code</mat-icon> Get source
    </a>
    <a mat-button color="primary" href="https://gitlab.com/tripetto/examples/angular-material/blob/master/README.md" target="_blank">
      <mat-icon>description</mat-icon> View readme
    </a>
    <button mat-button color="primary" (click)="app.reset()"><mat-icon>refresh</mat-icon> Reset demo</button> <span class="spacer"></span>
    <span>
      <span *ngIf="!collector.preview">
        <button
          mat-stroked-button
          class="button-left"
          title="Start form"
          [disabled]="collector.status === 'empty' || (collector.status !== 'stopped' && collector.status !== 'finished')"
          (click)="collector.start()"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button
          mat-stroked-button
          class="button-center"
          title="Pause form"
          [disabled]="collector.status !== 'running'"
          (click)="collector.pause()"
        >
          <mat-icon>pause</mat-icon>
        </button>
        <button
          mat-stroked-button
          class="button-right"
          title="Stop form"
          [disabled]="collector.status !== 'running'"
          (click)="collector.stop()"
        >
          <mat-icon>stop</mat-icon>
        </button>
        <button mat-stroked-button [disabled]="isSettingsOpened" class="button-settings" (click)="openSettings()">Settings</button>
      </span>
      <button *ngIf="!collector.preview" mat-flat-button color="primary" class="button-left">Collect</button>
      <button *ngIf="collector.preview" mat-stroked-button class="button-left" (click)="collector.set('preview', false)">Collect</button>
      <button *ngIf="collector.preview" mat-flat-button color="primary" class="button-right">Preview</button>
      <button *ngIf="!collector.preview" mat-stroked-button class="button-right" (click)="collector.set('preview', true)">Preview</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
