<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content>
  <mat-card>
    <mat-card-title>Mode</mat-card-title>
    <mat-radio-group class="radiobuttons">
      <mat-radio-button
        value="paginated"
        [checked]="data.collector.mode === 'paginated'"
        (change)="data.collector.set('mode', 'paginated')"
      >
        Paginated<small>Blocks are presented page for page and the user navigates through the pages using the next and back buttons.</small>
      </mat-radio-button>
      <mat-radio-button
        value="continuous"
        [checked]="data.collector.mode === 'continuous'"
        (change)="data.collector.set('mode', 'continuous')"
      >
        Continuous<small>This will keep all past blocks in view as the user navigates using the next and back buttons.</small>
      </mat-radio-button>
      <mat-radio-button
        value="progressive"
        [checked]="data.collector.mode === 'progressive'"
        (change)="data.collector.set('mode', 'progressive')"
      >
        Progressive<small
          >In this mode all possible blocks are presented to the user. The user does not need to navigate using the next and back buttons
          (so we can hide those buttons).</small
        >
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>
  <mat-card>
    <mat-card-title>Display</mat-card-title>
    <mat-slide-toggle [checked]="data.collector.enumerators" (change)="data.collector.set('enumerators', !data.collector.enumerators)">
      Enumerators<small>Shows numbers in labels.</small>
    </mat-slide-toggle>
    <mat-slide-toggle
      *ngIf="data.collector.mode === 'paginated'"
      [checked]="data.collector.pages"
      (change)="data.collector.set('pages', !data.collector.pages)"
      >Pages<small>Shows pages-index in paginated mode.</small></mat-slide-toggle
    >
    <mat-slide-toggle [checked]="data.collector.progressbar" (change)="data.collector.set('progressbar', !data.collector.progressbar)"
      >Progressbar<small>Shows progressbar.</small></mat-slide-toggle
    >
  </mat-card>
</div>

<div mat-dialog-actions><button mat-stroked-button mat-dialog-close>Close</button></div>
