:host {
  position: absolute;
  left: 50%;
  right: 0;
  top: 64px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  touch-action: auto;

  .footer {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    mat-toolbar-row {
      padding: 16px 36px 0px 36px;
      height: auto;
    }
  }

  ::ng-deep {
    .mat-card {
      margin: 10px 20px;
      border: none;
      border-radius: none;
      box-shadow: none;

      .form-field-full-width {
        width: 100%;
      }

      .mat-card-footer {
        padding: 16px;
        font-size: 14px;
      }
    }

    .page {
      margin-right: 8px;
      min-width: auto;
    }

    .required {
      padding-left: 4px;
      color: red;
    }

    * {
      touch-action: auto;
    }
  }
}
