<mat-card *ngIf="!node.block">
  <mat-card-title *ngIf="name" markdown [content]="name" [context]="context"></mat-card-title>
  <p *ngIf="description" markdown [content]="description" [context]="context"></p>
</mat-card>
