<tripetto-editor #editor (changed)="onEditorChanged($event)"></tripetto-editor>
<tripetto-collector
  #collector
  (finished)="onCollectorFinished($event)"
  (paused)="onCollectorPaused($event)"
  (changed)="header.changed()"
></tripetto-collector>
<tripetto-header #header [app]="this" [editor]="editor" [collector]="collector"></tripetto-header>
