<mat-card>
  <mat-card-title
    *ngIf="name"
    markdown
    [content]="name"
    [context]="context"
    [enumerator]="enumerator"
    [required]="block.required"
  ></mat-card-title>
  <mat-card-content *ngIf="description" markdown [content]="description" [context]="context"></mat-card-content>
  <mat-radio-group class="radiobuttons">
    <mat-radio-button
      *ngFor="let button of block.props.buttons"
      [value]="button.id"
      [checked]="block.isSelected(button)"
      (change)="block.select(button)"
    >
      {{ button.name || "..." }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-card-footer *ngIf="explanation" markdown [content]="explanation" [context]="context"></mat-card-footer>
</mat-card>
